@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #171d29;
  display: flex;
  justify-items: center;
  justify-content: center;
}

@layer components {
  .rich-gradient {
    @apply bg-gradient-to-l from-[#F7EEF9] via-[#8CDCD2] to-[#3BCCB2];
  }

  .text-rich-gradient {
    @apply bg-gradient-to-l from-[#F7EEF9] via-[#8CDCD2] to-[#3BCCB2] bg-clip-text text-transparent;
  }

  .nav-link {
    @apply text-sm font-light text-gray list-none cursor-pointer hover:text-green py-2  transition-all duration-100 opacity-0 md:p-0 md:opacity-100;
  }

  h1 {
    @apply text-[2.1rem] font-bold text-white sm:text-4xl lg:text-5xl;
  }
  h2 {
    @apply text-2xl font-medium lg:text-3xl;
  }
  h3 {
    @apply text-lg font-bold lg:text-xl;
  }
  h4 {
    @apply text-base font-medium lg:text-lg;
  }
  h5 {
    @apply text-base font-bold lg:text-lg;
  }
  h6 {
    @apply text-sm font-medium;
  }
  p {
    @apply text-sm font-light text-gray;
  }

  b {
    @apply font-bold;
  }
}
